@import 'tailwindcss';
@import 'uniwind';

@theme {
  --font-sans: 'system-ui';
  --font-serif: 'ui-serif';
  --font-rounded: 'ui-rounded';
  --font-mono: 'ui-monospace';
}

@layer theme {
  :root {
    @variant dark {
      --color-text: #ecedee;
      --color-background: #151718;
      --color-card: #1e1f20;
      --color-tint: #fff;
      --color-icon: #9ba1a6;
      --color-tab-icon-default: #9ba1a6;
      --color-tab-icon-selected: #fff;
      --color-placeholder: #2a2a2a;
    }

    @variant light {
      --color-text: #11181c;
      --color-background: #fff;
      --color-card: #fff;
      --color-tint: #0a7ea4;
      --color-icon: #687076;
      --color-tab-icon-default: #687076;
      --color-tab-icon-selected: #0a7ea4;
      --color-placeholder: #e0e0e0;
    }
  }
}
